.container-fluid.banner {
	height: 100vh;
}

.background.fallback span {
	background-image: url(https://i.giphy.com/media/cIaXpqoY3TVoivLdxU/source.gif);
	//background-repeat: no-repeat;
	//background-size: 100% 1200px;
}

a.btn.btn-default.btn-small.login {
	display: none;
}

body.v2 footer.footer .colofon {
	padding: 30px;
	background: #545754;	
}

body.v2.pagebuilder .container-fluid.grey {
    background-color: #202225;
}
