.container-fluid .banner {
	height: 100vh !important;
}

.background.fallback span {
	background-image: url(https://i.giphy.com/media/cIaXpqoY3TVoivLdxU/source.gif);
	background-repeat: no-repeat !important;
    background-size: 100% 1200px !important;
}

.btn .btn-default login {
	display: none !important;
}
